<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Student</h1>
    </div>
    <form #addForm="ngForm" (ngSubmit)="save()">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
    <div class="row">
    <div class="col-md-12 mb-3">
    <label>First Name</label>
    <input type="text" name="firstName" class="form-control" [(ngModel)]="student.firstName">
    </div>
    <div class="col-md-12 mb-3">
    <label>Last Name</label>
    <input type="text" name="lastName" class="form-control" [(ngModel)]="student.lastName">
    
    </div>
    </div>
    <div class="row">
    <div class="col-md-12 mb-3">
    <label>Email</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="student.email">
    </div>
    <div class="col-md-12 mb-3">

        <label>Password</label>
<input type="password" class="form-control" name="password" [(ngModel)]="student.password">
</div>

<div class="col-md-12 mb-3">
    <label>Age</label>
    <input type="text" class="form-control" name="age" [(ngModel)]="student.age">
</div>

<div class="col-md-12 mb-3">
<label>Phone number</label>
<input type="text" class="form-control" name="phone" [(ngModel)]="student.phone">
</div>
</div>
<div class="form-group text-right">
<button type="button"
class="btn btn-secondary">Cancel</button>
<button type="submit" class="btn btn-success">AddStudent</button>
</div>
</div>
</div>
</form>